<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="item.nombre">
        <button @click="agregarItem()">Agregar</button>
        <ul>
            <li v-for="(item, i) in lista" v-bind:class="item.completado == true ? 'completado' : ''">
                <span>Posicion: {{i}}</span>
                <span>{{item.nombre}}</span>
                <button @click="completarItem(i)">Completar</button>
                <button @click="eliminarItem(i)">Eliminar</button>
            </li>
        </ul>
    </div>
    
    <script src="app.js"></script>
</body>
</html>