<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2>{{mensaje}}</h2>
        <form action="">
            <input type="text" placeholder="Nombre" v-model="producto.nombre">
            <br>
            <input type="number" placeholder="Precio" v-model="producto.precio">
            <br>
            <button type="button" @click="guardarProducto()">Guardar</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, i) in productos" :key="i">
                    <td>{{item._id}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.precio}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <script src="app.js"></script>
</body>
</html>